.above-fold-nav {
    background-color: #0F303A;
    border-radius: 8px;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container-clip {
    overflow-x: clip;
    height: 100vh;
}

.above-fold-nav-logo, .nav-right {
    min-width: 9.5rem;
}

.nav-right button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11.33px;
}

.above-fold-nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.hero {
    max-width: 1264px;
    margin: 0 auto;
    text-align: center;
    margin-top: 226px;
}

.hero p {
    font-size: 22px;
    margin-top: 32px;
}

.hero button {
    margin-top: 32px;
}

.hero button svg {
    margin-left: 11px;
}

.hero-background {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 1257px;
}

.mobile-hero-background {
    display: none;
}

.phone-background {
    display: none;
}

.trusted-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 205px;
}

.trusted-by p {
    margin: 24px 0;
}

.swiper {
    width: 100%;
    height: 5rem;
    cursor: pointer;
}

.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.hamburger-menu-open {
    z-index: 10;
    display: none;
    cursor: pointer;
}

.above-fold-mobile-menu {
    display: none;
    position: absolute;
    top: 104px;
    width: 100%;
    background-color: #0F303A;
    left: 0;
    border-radius: 8px;
    text-align: center;
    padding: 100px 32px;
}

.above-fold-mobile-menu-item button {
    width: 100%;
}

.above-fold-mobile-menu-item li {
    margin-bottom: 2rem;
}

.above-fold-nav-flex li a {
    color: #DDE6E8;
}

.above-fold-mobile-menu-item:nth-of-type(2) {
    margin-top: 64px;
}

.menu-close {
    display: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .above-fold-nav-flex {
        display: none;
    }

    .container-clip {
        overflow-x: clip;
        height: 73vh;
    }

    .hamburger-menu-open {
        display: block;
    }

    .above-fold-nav-flex {
        position: absolute;
        flex-direction: column;
        top: 10rem;
        background-color: #0F303A;
    }

    .above-fold-nav-logo, .nav-right {
        min-width: 8rem;
    }

    .hero {
        max-width: 472px;
        margin-top: 130px;
    }

    .hero p {
        font-size: 22px;
        margin-top: 32px;
        color: #DDE6E8;
    }

    .hero-background {
        display: none;
    }

    .mobile-hero-background {
        position: absolute;
        display: block;
        max-width: 100%;
        top: 9rem;
    }

    .trusted-by {
        margin-top: 129px
    }
}

@media (max-width: 540px) {
    .hero p {
        font-size: 20px;
        color: #DDE6E8;
        max-width: 90%;
        margin: 32px auto 0 auto;
    }

    .phone-background {
        display: block;
        position: absolute;
        top: 9rem;
        max-width: 100%;
    }

    .mobile-hero-background {
        display: none;
    }
}

@media (max-width: 515px) {
    .container-clip {
        overflow-x: clip;
        height: 63vh;
    }
}