.offers {
    display: flex;
    justify-content: space-between;
    gap: 88px;
    margin-top: 148px;
    align-items: flex-start;
}

.offers h3 {
    margin-bottom: 32px;
}

.offers img {
    max-width: 588px;
    margin: 16px 0 24px 0;
}

.offers-offer-learn-more a {
    color: #00A2B3 !important;
    margin-right: 5px;
}

.offers-sticky, .offers-right {
    flex: 100
}

.pill {
    color: white;
    line-height: 100%;
    max-width: 100px;
    background-color: #126576;
    color: #88FEFF;
    padding: 6px 8px;
    border-radius: 100px;
}

.offers-offer {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    margin-bottom: 72px;
}

.offers-offer h3 {
    line-height: 110%;
    font-size: 32px;
}

.offers-sticky {
    position: sticky;
    top: 0;
}

.offers-sticky h2 {
    line-height: 110%;
    font-size: 48px;
}

.offers-sticky p {
    color: #DDE6E8;
    margin-top: 32px;
}

.reviews {
    background-color: #EBFCFD;
    padding: 64px 0;
}

.reviews .swiper {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.reviews .swiper-slide {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.reviews .swiper-slide h4 {
    color: #15191B;
    margin: 16px 0;
    text-align: center;
}

.reviews .swiper-slide p {
    color: #166175;
}

.pricing-options {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.pricing h3 {
    margin: 88px 0 64px 0;
    text-align: center;
}

.pricing-option .pricing-option-top p {
    font-size: 14px;
    margin-bottom: 8px;
}

.pricing-option {
    flex: 100;
}

.pricing-option p {
    margin-bottom: 16px;
    color: #DDE6E8;
}

.pricing-option .pricing-option-top h4 {
    margin-bottom: 8px;
}

.pricing-option .pricing-option-top button {
    color: white;
    display: flex;
    gap: 11px;
    align-items: center;
    border: 1px solid var(--accent-color);
}

.pricing-option .pricing-option-top button:hover {
    background-color: transparent;
    border-color: #126576 !important;
    color: #126576 !important;
}

.pricing-line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 32px 0;
}

.pricing-list {
    font-size: 16px;
    font-family: var(--text-font);
    list-style-image: url(../images/check.svg);
    color: var(--text-color);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.pricing-list p {
    margin-bottom: 0;
}

.empower {
    position: relative;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 610px;
}

.empower img {
    position: absolute;
    z-index: -1;

}

.empower h2 {
    max-width: 816px;
    margin-bottom: 32px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    gap: 48px;
}

footer ul {
    display: flex;
    gap: 32px;
}

footer div {
    display: flex;
    gap: 32px;
}

.footer-privacy {
    margin: 40px;
    gap: 0;
}

.footer-privacy a:nth-of-type(1) {
    padding-right: 16px;
    border-right: 1px solid white;
}

.footer-privacy a:nth-of-type(2) {
    padding-left: 16px;
}

@media (max-width: 1200px) {
    .offers img {
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    .offers {
        margin-top: 104px;
    }

    .offers-offer-learn-more {
        margin-top: 5px;
    }

    .pricing-options {
        flex-wrap: wrap;
        row-gap: 5rem;
    }

    .pricing h3 {
        margin: 64px 0 64px 0;
    }

    .pricing-option {
        min-width: 304px;
    }

    .empower {
        height: 378px;
    }

    .empower h2 {
        max-width: 516px;
        margin-bottom: 32px;
    }

    .offers-sticky h2 {
        font-size: 32px;
    }

    .offers-offer h3 {
        line-height: 110%;
        font-size: 32px;
    }
}

@media (max-width: 600px) {
    .offers {
        gap: 32px;
        margin-top: 104px;
        flex-direction: column;
    }

    .offers-sticky {
        position: relative;
        top: 0;
    }
}

@media (max-width: 450px) {
    .pricing-option {
        min-width: 200px;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .pricing h3 {
        text-align: left;
        max-width: 18rem;
    }

    .pricing-option .pricing-option-top button {
        justify-content: center;
    }

    .empower {
        height: 418px;
    }

    .empower h2 {
        max-width: 273px;
    }

    .empower button {
        max-width: 287px;
    }

    .offers-sticky h2 {
        font-size: 32px;
    }

    .hero p {
        margin-top: 24px;
    }
}